<div class="row">
  <form (ngSubmit)="register(f)" #f="ngForm" novalidate class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input [(ngModel)]="username" id="username" name="username" type="text" class="validate" required>
        <label for="username">Username</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input [(ngModel)]="password" id="password" name="password" type="password" class="validate" required>
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input [(ngModel)]="password2" id="password2" name="password2" type="password" class="validate" required>
        <label for="password2">Repeat password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4">
        <button [disabled]="f.invalid" class="btn waves-effect waves-light cyan accent-4" type="submit" name="action">Submit</button>
      </div>
    </div>
  </form>
</div>